@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Atencion_de_incidentes.Models.TBMSESPECIALIDADXCATEGORIA>

@{
    ViewBag.Title = "Categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!----------Inicio del categorias.html---------->
<!----------Inicio del tickets.html---------->
<!-- page content -->
<div class="">
    <div class="page-title">
        <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="ocultarImpresion">
                <ul class="nav nav-tabs pull-right">
                    <li class="nav-item">
                        <!--Inicio del boton para imprimir en pantalla -->
                        <a class="nav-link" data-toggle="modal" data-target=".bs-example-modal-lg-nuevaCategoria" id="btnagregarcategoria"><i class="fa fa-plus-circle"></i> Agregar Categoria</a>
                        <!--Fin del boton regresar para imprimir en pantalla-->
                    </li>
                    <li class="nav-item">
                        <!--Inicio del boton para imprimir en pantalla -->
                        <a class="nav-link" href="#" onclick="window.print()"><i class="glyphicon glyphicon-print"></i> Imprimir</a>
                        <!--Fin del boton regresar para imprimir en pantalla-->
                    </li>
                </ul>
            </div>
            <div class="x_panel">
                <!--Inicio de las migas de pan-->
                <div class="form-group row x_title">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <label class="control-label"><h3>Categorías tickets</h3></label>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center ocultarImpresion">
                        <ol class="breadcrumb">
                            <li class="active"><i class="fa fa-align-left"></i> Registro de todas las categorias </li>
                        </ol>
                    </div>
                </div>
                <!--Final de las migas de pan-->
                <!-- form seach -->
                @using (Html.BeginForm("Categorias", "Administrador", FormMethod.Get, new { @class = "form-horizontal", role = "form", id = "gastos" }))
                {
                    <div class="form-group row text-center ocultarImpresion">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label for="q" class="control-label">
                                Mostrar
                                <select size="1" name="registro" id="registro" aria-controls="dataTables1">
                                    <option selected="selected">Seleccione</option>
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                registros
                            </label>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control ph-center" id="Inicio" name="Inicio" placeholder="Buscar por categoria o especialidad">
                        </div>
                    </div>
                }
                <!-- end form seach -->
                <!--Inicio de la tabla categorias-->
                <div class="x_content">
                    <div class="table-responsive">
                        <div id="resultados"></div>
                        <div class="outer_div">
                            <table class="table table no-margin table-bordered table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <!--Titulo de la tabla-->
                                        <th class="column-title">#ID</th>
                                        <th class="column-title">Categoria</th>
                                        <th class="column-title">Especialidad</th>
                                        <th class="column-title no-link last ocultarImpresion"><span class="nobr"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Count() == 0)
                                    {
                                        <h2>No se encontrarón datos!</h2>
                                    }
                                    else
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr class="even pointer">
                                                <!--Resultado de la primera fila de la tabla-->
                                                <td>@Html.DisplayFor(modelItem => item.IdCategoria)</td>
                                                <td>@Html.DisplayFor(modelItem => item.TBMSCATCategorias.tipoCategoria)</td>
                                                <td>@Html.DisplayFor(modelItem => item.TBMSMAEEspecialidades.tipoEspecialidad)</td>
                                                <td class="ocultarImpresion">
                                                    <!--Inicio de editar y eliminar tickets-->
                                                    <div class="text-center">
                                                        <!--Icono de editar tickets-->
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                Acción
                                                                <span class="caret"></span>
                                                                <span class="sr-only">Toggle Dropdown</span>
                                                            </button>
                                                            <ul class="dropdown-menu tamañoAccionesCategoria">
                                                                <li><a data-toggle="modal" data-target=".bs-example-modal-lg-editarCategoria" data-id="@item.Id" id="btneditarCategoria" class="btneditarCategoria"><i class="glyphicon glyphicon-edit"></i>Editar Categoría</a></li>
                                                                <li><a data-toggle="modal" data-target=".bs-example-modal-lg-cancelarCategoria" data-id="@item.Id" id="btncancelarCategoria" class="btncancelarCategoria"><i class="fa fa-close"></i> Cancelar Categoría</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    <tr class="ocultarImpresion">
                                        <td colspan="7" class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-4">
                                                <div id="example1_info" role="status" aria-live="polite">

                                                    Mostrando registros del @(Model.FirstItemOnPage) al @(Model.LastItemOnPage) de un total de @(Model.TotalItemCount) registros
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-8">
                                                @Html.PagedListPager(Model, pagina => Url.Action("Categorias", new { pagina }))
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- Carga los datos ajax -->
                        <!-- /ajax -->
                    </div>
                </div>
                <!--Fin de la tabla categorias-->
            </div>
        </div>
    </div>
</div><!-- /page content -->
<!----------Fin del categories.html---------->
<!----------Inicio de la ventanas emergentes---------->
<!--Inicio de agregar una nueva categoria para el ticket -->
<div class="modal fade bs-example-modal-lg-nuevaCategoria" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Nueva categoría del ticket</h4>
            </div>
            <div class="modal-body" id="NuevaCategoria">
                <div class="text-center">
                    <img src="~/Content/img/Loadingsome.gif" class="icon" width="300" height="300" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Final de de agregar una nueva categoria para el ticket-->
<!-- Inicio del editar categoria -->
<div class="modal fade bs-example-modal-lg-editarCategoria" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Editar categoría del ticket</h4>
            </div>
            <div class="modal-body" id="EditarCategoria">
                <div class="text-center">
                    <img src="~/Content/img/Loadingsome.gif" class="icon" width="300" height="300" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin de editar tickets -->
<!--Inicio de cancelar categoria para el ticket -->
<div class="modal fade bs-example-modal-lg-cancelarCategoria" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Cancelar categoría del ticket</h4>
            </div>
            <div class="modal-body" id="CancelarCategoria">
                <div class="text-center">
                    <img src="~/Content/img/Loadingsome.gif" class="icon" width="100" height="100" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Final de de cancelar categoria para el ticket-->
@section Scripts {
    <script src="~/Content/js/Administrador/RegistroCategoria.js"></script>
    <script src="~/Content/js/ValidarFormularios.js"></script>
    <script src="~/Content/js/NuevaCategoria.js"></script>
    <script src="~/Content/js/CategoriaCancelar.js"></script>
    <script src="~/Content/js/EditarCategoria.js"></script>
}