@model Atencion_de_incidentes.Models.TBMSMAEBaseConoc

@{
    Layout = null;
}
@using (Html.BeginForm("Edit2", "Administrador", FormMethod.Post, new { @class = "form-horizontal form-label-left input_mask", @id = "add", @name = "add" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Hidden("idTicket")
    @Html.Hidden("idCategoria")
    <div id="result"></div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
            Comentario:<span class="required"></span>
        </label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            @Html.TextAreaFor(model => model.BaseDescripcion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Comentario", @minlength = "20" } })
            @Html.ValidationMessageFor(model => model.BaseDescripcion, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
            <button id="save_data" type="submit" class="btn btn-success">Guardar</button>
        </div>
    </div>
}